# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# VM images
vm-images

# Logs
logs/

# IDE files
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# VM Manager specific
vm-images/
*.qcow2